@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components{
    .blog-btn{
        @apply text-white cursor-pointer inline-block border border-[#29c8e6] bg-[#29c8e6]  font-medium text-center px-7 py-1.5 rounded-full hover:bg-black hover:dark:bg-white hover:dark:text-black hover:text-white duration-500;
    }
    .blog-description{
        @apply text-base font-normal dark:text-[#8799ad] text-slate-700;
    }
    .bg-blog-primary{
        background-color:#29C8E6;
    }
    .text-blog-primary{
        color: #29C8E6;
    }
    .social-media-icon{
        @apply text-xl bg-[#29c8e6] p-2 text-white rounded-md hover:bg-black duration-500
    }
    .blog-favorite{
        @apply text-black border border-[#29c8e6] rounded-full hover:bg-[#29c8e6] hover:text-white duration-500 p-1.5
    }
    .dashboard-link{
        @apply py-3 px-3 mb-1 rounded-md text-black flex items-center gap-2;
    }
    .input-field{
        @apply w-full border-b border-slate-200 p-3 outline-none mb-5;
    }
    .social-auth{
        @apply bg-slate-100 p-3 rounded-full text-blog-primary hover:bg-blog-primary hover:text-white duration-500;
    }
    .dashboard-details-area{
        @apply bg-slate-100 p-10 rounded-lg;
    }
}



@layer base{
  h1{
     @apply text-2xl font-semibold;
  }
  h2{
      @apply text-xl;
  }
  h3{
      @apply text-lg;
  }
}